<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  I am Andrew Bryk. I am currently a Junior studying Economics at NYU.  Splashdown is my first creation after going through the Rails Tutorial by Micheal Heartl. 
</p>